#product {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: 1000;
    transition: 1s ease-in-out;
    background-color: #000;
}

.product-image {
    img {
        width: 100%;
    }
    &-mobile {
        display: none;
    }
}

.product-info {
    position: sticky;
    top: 0px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    &-container{
        min-width: 50%;
        margin: calc(50%) 50px 50px;
    }
    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        margin-bottom: 12px;
        text-transform: uppercase;
        svg {
            font-size: 20px;
            cursor: pointer;
        }
    }
    &-size {
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        & > div {
            display: flex;
            align-items: center;
            svg {
                font-size: 20px;
                margin-top: 1px;
            }
        }
    }
    &-description {
        margin-top: 24px;
        font-size: 13px;
        color: #757575;
    }
}

.size-btn {
    width: 100%;
    padding: 13px 32px;
    border: 1px solid #000;
    background-color: #000;
    color: #FFF;
    transition: .5s ease-in;
    border-radius: 50px;
    &:hover {
        color: #000;
        background-color: #FFF;
    }
}

@media (max-width: 1100px) {
    #product {
        column-gap: 10px;
    }
    .product-info {
        &-container{
            max-width: fit-content;
            margin: 220px 0px 50px;
            padding: 24px;
        }
    }
}

@media (max-width: 1000px) {
    #product {
        grid-template-columns: 1fr;
    }
    .product-image {
        display: none;
        &-mobile {
            display: none;
            position: sticky;
            top: 0; 
            background-color: white;
            display: block;
            div {
                width: 100vw;
                height: 100%;
            }
            img {
                width: 100%;
            }
        }
    }
    .product-info {
        margin-top: auto;
        background-color: #fff;
        display: flex;
        &-container{
            max-width: fit-content;
            margin: 0;
            padding: 24px;
        }
    }
    
}