#wishlist {
    padding: 160px 0;
    background-color: #f0f0f0;
}

.wishlist {
    .container{
        background-color: #f0f0f0;
    }
    &-message {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 24px;
        h4 {
            font-size: 24px;
            letter-spacing: 0.25rem;
            line-height: 1.75rem;
            margin-bottom: 16px;
        }
        p {
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: .025rem;
            line-height: 1.5rem;
            margin-bottom: 4px;
        }
        button {
            margin-top: 12px;
            font-size: .875rem;
            font-weight: 400;
            letter-spacing: .025rem;
            line-height: 1rem;
            padding: 12px 24px;
            border-radius: 24px;
            color: #fff;
            border: 1px solid #000;
            background-color: #000;
            transition: .5s;
            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }
    &-product {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0px;
        row-gap: 30px;
        padding: 0 20px;
        & > div {
            min-width: 250px;
            height: 100%;
        }
    }
}

@media (max-width: 800px) {
    .wishlist {
        &-product {
            padding: 0;
            height: 100%;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: 500px) {
    .wishlist {
        &-product {
            padding: 0;
            height: 100%;
            grid-template-columns: 1fr 1fr;
            row-gap: 20px;
            & > div {
                min-width: auto;
                max-width: calc(50vw);
            }
        }
    }
}