nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: .5s ease-in-out;
    background-color: transparent;
    &:hover {
        background-color: #000;
    }
}

.scrolled {
    background-color: #000;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin-bottom: 12px;
    &-top {
        padding: 6px 0;
        text-align: center;
        color: #FFF;
        background-color: black;
    }
    &-logo {
        img {
            width: 180px;
        }
    }
    &-gender {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        a {
            font-size: 14px;
            font-weight: 500;
            color: #FFF;
            text-transform: uppercase;
        }
    }
    &-items {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 20px;
        svg {
            font-size: 22px;
            color: #FFF;
        }
    }
    &-links {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        padding-bottom: 10px;
        text-transform: uppercase;
        a {
            font-size: 14px;
            letter-spacing: 1px;
            color: #FFF;
        }
    }
}


@media (max-width: 992px) {
    .navbar {
        padding: 0 20px 0 8px;
        grid-template-columns: 1fr 1fr;
        &-gender {
            display: none;
        }
        &-items {
            &-like {
                display: none;
            }
        }
        &-links {
            display: none;
        }
    }
}
@media (max-width: 480px) {
    .navbar {
        &-top {
            padding: 10px;
            font-size: 14px;
        }
    }
}
