.card {
    width: 100%;
    &-img {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 0;
        }
    }
    &-desc {
        padding: 0 8px;
        &-info {
            margin-top: 8px;
            min-height: 46px;
            display: -webkit-box;
            max-width: 400px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow-y: hidden;
            text-overflow: ellipsis;
            p {
                font-size: 14px;
            }
        }
        &-buy {
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
                font-size: 14px;
            }
            button {
                background-color: transparent;
                color: none;
                div {
                    margin-left: 50px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    column-gap: 4px;
                    padding: 8px;
                    color: #000;
                    border: 1px solid #000;
                    border-radius: 30px;
                    transition: .3s cubic-bezier(.39,.575,.565,1);
                    background-color: transparent;
                }  
                svg {
                    fill: #000;
                }
                p {
                    position: absolute;
                    right: -30px;
                    transition: .3s cubic-bezier(.39,.575,.565,1);
                    color: #000;
                }
                &:hover {
                    div {
                        border-radius: 30px;
                        display: flex;  
                        column-gap: 4px;
                        align-items: center;
                        padding-right: 40px;
                        p {
                            right: 8px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 815px) {
    .card {
        &-desc {
            &-info {
                min-height: auto;
            }
        }
    }
}
@media (max-width: 800px) {
    .card {
        &-desc {
            &-info {
                min-height: 46px;
            }
        }
    }
}
@media (max-width: 517px) {
    .card {
        &-desc {
            &-info {
                min-height: auto;
            }
        }
    }
}
@media (max-width: 500px) {
    .card {
        &-desc {
            &-info {
                min-height: 30px;
            }
        }
    }
}