* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'AvertaDemoPE-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('AvertaDemoPE-Regular'), url('../src/assests/fonts/AvertaDemoPE-Regular.woff') format('woff');
}

*, *::before,
*::after {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: 'AvertaDemoPE-Regular';
  color: #000;
  background-color: #f9f9f9;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-slider {
  max-width: 1360px;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

/* slider styles (start) */
.nextArrow, 
.prevArrow {
  display: block !important;
  padding: 20px !important;
  background-color: #000 !important;
}

.nextArrow::before,
.prevArrow::before {
  display: none;
}

.nextArrow svg {
  margin-top: -12px;
  margin-left: -12px;
  z-index: 1000;
  font-size: 24px;
  color: #fff;
}

.prevArrow svg {
  margin-top: -12px;
  margin-left: -12px;
  z-index: 1000;
  font-size: 24px;
  color: #fff;
}

.slick-next {
  right: 10px !important;
}

.slick-prev {
  left: 10px !important;
  z-index: 10;
}
/* slider styles (end) */

/* footer menu styles (start) */
.ant-menu-submenu-title {
  padding: 36px;
  background-color: none !important;
  border-bottom: 1px solid #b7b7b7;
  border-radius: 0px !important;
  margin: 0 !important;
  width: 100% !important;
} 
.ant-menu-submenu-title:focus {
  background-color: none !important;
}
.ant-menu-submenu-title:hover {
  background-color: none !important;
}
/* footer menu styles (end) */