.added-to-like {
    position: fixed;
    top: 210px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 20px;
    width: 44%;
    opacity: 0;
    z-index: -1;
    border-radius: 20px;
    transition: .6s ease-in-out;
    background-color: #fff;
    &.active {
        opacity: 1;
        z-index: 10000;
    }
}

.like {
    display: flex;
    align-items: center;
    column-gap: 24px;

    &-img img {
        width: 60px;
    }
    &-info {
        p {
            font-size: 14px;
            text-transform: uppercase;
        }
        span {
            text-decoration: underline;
        }
        &-xmark svg{
            font-size: 20px;
            cursor: pointer;
        }
        a {
            font-size: 14px;
            text-decoration: underline;
        }
    }
}
